@import url(https://fonts.googleapis.com/css?family=Quicksand:300,500);
body{
  background-color: #f0f2f5;
  font-family: 'Quicksand', sans-serif;
}
body::-webkit-scrollbar,
.position-sticky.scroll::-webkit-scrollbar,
.friend-request::-webkit-scrollbar,
.position-sticky.default::-webkit-scrollbar,
.default::-webkit-scrollbar{
  width: 10px;
  height: 10px;
  background-color: white;
}
body::-webkit-scrollbar-thumb,
.position-sticky.scroll::-webkit-scrollbar-thumb,
.friend-request::-webkit-scrollbar-thumb,
.position-sticky.default::-webkit-scrollbar-thumb,
.default::-webkit-scrollbar-thumb{
  width: 5px;
  background-color: #cecece;
}
.container-xl{
  margin-top: 115px;
}
.sidebar-menu{
  top: 0;
  margin-left: 100%;
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: -11;
  transition: 1s all;
  opacity: 0;
}
.opacity-sidebar{
  top: 0;
  margin-left: 100%;
  height: 100%;
  width: calc(100% - 300px);
  position: fixed;
  z-index: -11;
  transition: 1s all;
}
#add-post{
  font-size: 30px;
  position: fixed;
  bottom: 20px;
  left: 20px;
}
.nav-search{
  font-size: 14px;
}
.avatar-post{
  height: 60px;
  max-height: 60px;
}
a.nav-link.d-inline.active{
  border-bottom: 5px solid #007bff;
}
a.nav-link.text-dark.text-decoration-none:hover {
    background-color: var(--bs-light);
}
.dropdown-toggle.after-none::after{
  border: 0;
  content: none;
}
.dropdown-toggle.before-none::before{
  border: 0;
  margin-right: 0!important;
  display: block;
  content: none;
}
/*dropdown in menu*/
ul.friend-request{
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
}
ul.friend-request > li > .row > .col-9 > a.text-decoration-none{
  font-size: 12px;
}
.list-online{
  height: 80px;
  max-height: 80px;
}
.dropdown-menu[aria-labelledby="friends_request"]{
  margin-left: 39% !important;
  width: 300px;
}
/*utilites*/
.fs-12{
  font-size: 12px;
}
.fs-13{
  font-size: 13px;
}
.fs-14{
  font-size: 14px;
}
.fs-15{
  font-size: 15px;
}
.fs-30{
  font-size: 30px !important;
}
.icon-24{
  font-size: 20px;
}
.mt-70px{
  margin-top: 70px;
}
.ml-5em{
  margin-left: 5em !important;
}
.fixed-bottom{
  z-index: 9999999999;
}
.pointer{
  cursor: pointer;
}
.overflow-y-auto{
  overflow-y: auto;
}
@media screen and (min-width: 0px) and (max-width: 576px){
  .position-xs-absolute{
    position: absolute;
  }
}